<h1>New bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: @movies, prompt: "Choose a Movie" %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
